* {
    user-select: none;
}

body {
    background-color: black;
}

h1 {
    margin: 0px;
    margin-top: 150px;
    margin-bottom: 45px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
}

h2 {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    width: 50px;
    color: aliceblue;
    cursor: text; /* muda o ponteiro pra indicar texto */
    margin: auto;
}

input {
    width: 200px; /* aumenta a área clicável */
    padding: 8px; /* aumenta a área interna */
    box-sizing: border-box; /* garante que o padding não quebre o layout */

}

button {
    font-size: 19px;
    background-color: aliceblue;
    border-radius: 8px;
    padding: 5px 5px;
    color: black;
    cursor: pointer;
}

.container {
    transform: scale(0.5);
    animation: aparecer 0.9s ease-out forwards;
}

.bloco {
    text-align: center;
}

a {
    text-decoration: none;
}

.botao-voltar {
    font-size: 25px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: auto;
    position: relative;
    bottom: 290px;
    left: 830px;
    background-color: aliceblue;
    color: black;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    width: fit-content;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.botao-voltar:hover {
    animation:  0.5s ease-out forwards;
    transform: scale(1.3);
    background-color: aliceblue;
    color: black;
}


#GUI {
    position: fixed;
    display: inline-block;
    bottom: 0;
    left: 750px;
    text-align: center;
    transform: scale(00.3s);
    animation: aparecer 0.7s ease-out forwards;
}


@keyframes aparecer {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
