<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inicio</title>
    <link rel="icon" type="image/png" href="/static/LOGO_IA.png">
    <link rel="stylesheet" href="static/sobre_gui.css">
</head>
<body>
    <a href="{{url_for('index')}}">
    <div class="botao-voltar">Inicio</div>
    </a>
    <header>
        <img src="/static/LOGO_IA.png" alt="gui-logo" id="gui-logoia" draggable="false">
        <p><strong>O que é o Gui.IA e para que serve?</strong></p>
        <p1>O <strong>Gui.IA</strong> é uma inteligência artificial desenvolvida pela empresa <strong>BitByteCommerce</strong>, com foco em auxiliar nas tarefas do dia a dia de seus usuários. </p1> <p2>Seu principal objetivo é fornecer informações abrangentes sobre Inteligência Artificial, além de oferecer suporte a partir de nossa <u>apostila exclusiva</u>, voltada para os estudantes de Análise e Desenvolvimento de Sistemas (ADS) que estão iniciando nessa área. A ferramenta também busca orientar aqueles que desejam compreender melhor o mercado de trabalho em IA e aprofundar seus conhecimentos sobre o tema.</p2>

        <img src="/static/IA.png" alt="IA" id="imagem_ia" draggable="false">
    </header>
</body>

<p3>
    &copy; 2025 BitByteCommerce. Todos os direitos reservados.
</p3>

</html>