<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nós</title>
    <link rel="stylesheet" href="/static/sobre_nós.css">
</head>
    <body>
       <a href= "{{ url_for('index') }}">
    <div class="botao-voltar">Inicio</div>
</a>
        
    </body>
    
    <header>
        <h1> BitByteCommerce </h1>
        <p1>A <strong>BitByteCommerce</strong> é uma empresa cuja principal prioridade é oferecer suporte e soluções inovadoras a seus usuários e parceiros comerciais. </p1> <p2>Atuamos no desenvolvimento de projetos em Internet das Coisas (IoT) e, recentemente, expandimos nossas iniciativas com o lançamento da inteligência artificial <strong>Gui.IA</strong>, voltada ao auxílio de jovens interessados em aprofundar seus conhecimentos sobre o tema. Cientes de que as inteligências artificiais estão entre os assuntos mais debatidos do mundo atualmente, a BitByteCommerce apresenta sua IA com foco em educação e compreensão técnica do assunto, além de oferecer uma apostila exclusiva desenvolvida pela própria empresa, criada para ampliar o conhecimento e as habilidades de seus usuários.</p2>

        <img src="images/BBC.png" alt="LOGO_BBC" id="logo_bitch" draggable="false">
    </header>

<p3>
    &copy; 2025 BitByteCommerce. Todos os direitos reservados.
</p3>

</html>